@font-face {
    font-family: 'Jakarta';
    src: url('/fonts/Jakarta/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('/fonts/Jakarta/PlusJakartaSans-Regular.woff') format('woff'),
    url('/fonts/Jakarta/PlusJakartaSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jakarta';
    src: url('/fonts/Jakarta/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('/fonts/Jakarta/PlusJakartaSans-Medium.woff') format('woff'),
    url('/fonts/Jakarta/PlusJakartaSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jakarta';
    src: url('/fonts/Jakarta/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('/fonts/Jakarta/PlusJakartaSans-Bold.woff') format('woff'),
    url('/fonts/Jakarta/PlusJakartaSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}